.article {
    margin-top: 78px;
    &__container {
        max-width: 681px;
    }
    &__tags {
        display: flex;
        margin-top: 17px;
        align-items: flex-start;
    }
    &__year {
        display: inline-block;
        font-weight: 900;
        font-size: 18px;     
        background: #FF7C7C;
        border-radius: 16px;
        color: #fff;
        padding: 5px 10px;
    }

    &__category {
        margin-left: 17px;
        font-size: 20px;
    }

    &__text {
        margin-top: 23px;
         p {@extend .text}
        img{
            margin: 20px 0px;
            max-width: 100%;
        }
    }
}
